<ejs-splitbutton (click)="templatesMainBtnSelected()" (select)="serverBtnItemSelected($event)"  content="Templates" [items]='serverSplitBtnItems'></ejs-splitbutton>
<ejs-splitbutton (click)="rlaBtnClicked()" (select)="rlaBtnItemSelected($event)" content="Default Templates" [items]='rlaSplitBtnItems'></ejs-splitbutton>
<ejs-splitbutton (select)="mergeTagsBtnItemSelected($event)" content="Merge Tags" [items]='mergeTagsSplitBtnItems'></ejs-splitbutton>
<button ejs-button (click)="saveAsDocx()" >Save</button>
<label 
style=
    "font-family: 'Roboto', 'Segoe UI', 'GeezaPro', 'DejaVu Serif', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-size: 14px;
    font-weight: 500;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.143em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 12px 4px;
    vertical-align: middle;
    float:right" 
    *ngIf="loadedFileName != null" >Filename: {{loadedFileName}}
</label>
<label style="
    font-family: 'Roboto', 'Segoe UI', 'GeezaPro', 'DejaVu Serif', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-size: 14px;
    font-weight: 500;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.143em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 12px 4px;
    vertical-align: middle;
    color:red;
    float:right"
*ngIf="savedNote != null">{{savedNote}}</label>
<ejs-documenteditorcontainer #document_editor  id="container" serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/" [isReadOnly]=false [enableEditor]=true [enableWordExport]=true [enableSfdtExport]=true> </ejs-documenteditorcontainer>