<div>
    <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element; let i = index">            
                  <button (click)="editProspect(i)" style="background-color:blue; color:white;" mat-button >Modify</button>
              </td>
            </ng-container>
            <ng-container matColumnDef="FName">
              <th mat-header-cell *matHeaderCellDef> First Name</th>
              <td mat-cell *matCellDef="let element"> {{element.FName}} </td>
            </ng-container>
          
            <!-- Name Column -->
            <ng-container matColumnDef="LName">
              <th mat-header-cell *matHeaderCellDef>Last Name</th>
              <td mat-cell *matCellDef="let element"> {{element.LName}} </td>
            </ng-container>
          
            <!-- Weight Column -->
            <ng-container matColumnDef="MdInit">
              <th mat-header-cell *matHeaderCellDef>Mid Initial</th>
              <td mat-cell *matCellDef="let element"> {{element.MdInit}} </td>
            </ng-container>     
            <!-- Weight Column -->
            <ng-container matColumnDef="RoomId">
              <th mat-header-cell *matHeaderCellDef>Room Id</th>
              <td mat-cell *matCellDef="let element"> {{element.RoomId}} </td>
            </ng-container>     
                        <!-- Weight Column -->
            <ng-container matColumnDef="Move-in">
              <th mat-header-cell *matHeaderCellDef>Move-in</th>
              <td mat-cell *matCellDef="let element"> {{element.MoveInDate}}</td>
            </ng-container>     
            <!-- Weight Column -->
            <ng-container matColumnDef="Move-out">
              <th mat-header-cell *matHeaderCellDef>Move-out</th>
              <td mat-cell *matCellDef="let element"> {{element.MoveOutDate}} </td>
            </ng-container>     
            <!-- Symbol Column -->
            <ng-container matColumnDef="EmailAddress">
              <th mat-header-cell *matHeaderCellDef>Email Address</th>
              <td mat-cell *matCellDef="let element"> {{element.EmailAddress}} </td>
            </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="SSN">
                <th mat-header-cell *matHeaderCellDef>SSN</th>
                <td mat-cell *matCellDef="let element"> {{element.SSN}} </td>
              </ng-container>
            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.Status == 1">Approved</span>
                  <span *ngIf="element.Status == 2">Declined</span>
                  <span *ngIf="element.Status == 3">Pending</span>
                </td>
            </ng-container>            
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
    </div>
</div>
