.prospectsContainer{
  display: flex;
  border-width:5px;
  border-color:blue;
  border-style:solid;
  
  width:100%;
  height:80%;
  align-items: center;
  justify-content: center;
}

.prospectsUiView{
  border-width:5px;
  border-color:orange;
  border-style:solid;
  /*margin-left:25%;*/
  width:40%;
  height:90%;
  top:10%;
  text-align: center;
  /*float:left; */
  overflow:auto;
}
#table-container{
  max-height:500px;
  overflow-y:auto;
}
table {
  width: 100%;
}
.button-container {
  display: flex;
  justify-content: space-around;  
  margin-top: 10px;
}
  .flex-items {  
      margin: 10px;  
      background-color:#476c79; 
      color:white;
  }  
  .flex-items:hover{
    background-color: #90A6AE;
  }

button.link {
    background: transparent;
    color: blue;
    border: none;
    outline: 0;
    text-decoration: underline;
}
button.link:hover {
    color: firebrick;
    cursor: pointer;
}
.mat-row.hovered {
  background: #95dfb8;
  cursor: pointer;
}

.mat-row.highlighted {
  background: #f7cf1b/* #999;*/
}
th{
  color: cadetblue;
  width: 100px !important;
}
