<!-- Toolbar -->

<div class ="modal fade in" style="display: block;" aria-hidden="false"> <!--z-index defaults to 1050-->
    <div class="modal-dialog modal-lg modal-dialog-centered" >
      <!--Content-->
      <div class="modal-content">
    <div class="modal-header text-center">
      <span id="mainHeader" class="modal-title w-100" style="font-size:18pt;">Tenant-Approved Lease Agreement</span>
      <span class="pull-right" style="margin-right:40px;">
      </span>
  
      <button (click)="close()" type="button" class="close pull-right" aria-label="Close" >X
      </button>
    </div>
    <div class="modal-body">    
<h1 id="mainHeader" style="text-align: center; margin-top:8px; height:5%">
    </h1>
    <div style="height:85%">
        <ejs-pdfviewer *ngIf="docReady == true" #myviewer id="viewer" (addSignature)="addedSignature($event)" enableAnnotation=true (created)="onCreated($event)" IsSignatureEditable="true" [serviceUrl]='service' style="height:100%; width: 100%;"></ejs-pdfviewer>
    </div>
</div>
<div class="button-container">
    <button (click)="close()" class="flex-items" style="background-color:#476c79; color:white;" mat-button >Close Document</button>
</div>
</div>
</div>
</div>