  <div class ="modal fade in" style="display: block;" aria-hidden="false"> <!--z-index defaults to 1050-->
  <div class="modal-dialog modal-lg modal-dialog-centered" >
    <!--Content-->
    <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" >
      <span aria-hidden="true" (click)="closePrevRentalDialog()">×</span>
    </button>
          <span id="mainHeader"> Previous Rental Information</span>
  </div>
  <div class="modal-body" style="max-height:450px; overflow-y: auto;">

    <table style="font-family:sans-serif; width:66%; height:50%; font-size: small; color:#476c79; margin:auto">
      <div class="custom-field" >
        <h1> 
          <span> 
            Rental Info
          </span> 
      </h1> 
      <tr>
        <td colspan="2">
          <div >
            <img *ngIf="canDispNextAndPrev() == true" class="nonEditIconStyle" [src]="backButtonImgSrc"
            (mouseover)="backButtonImgSrc = '../../../assets/left_arrow_prospect_yellow.svg'"
            (mouseout)="backButtonImgSrc = '../../../assets/left_arrow_prospect.svg'"
            (click)="goToNextOrPrevEmp(false)"
            matTooltipClass="tooltip"
            [matTooltip]="'Go to Previous Rental'"
            />
            <img style="transform:scaleX(-1); margin-left:8px" *ngIf="canDispNextAndPrev() == true" class="nonEditIconStyle" [src]="nextButtonImgSrc"
            (mouseover)="nextButtonImgSrc = '../../../assets/left_arrow_prospect_yellow.svg'"
            (mouseout)="nextButtonImgSrc = '../../../assets/left_arrow_prospect.svg'"
            (click)="goToNextOrPrevEmp(true)"
            matTooltipClass="tooltip"
            [matTooltip]="'Go to Next Rental'"/>
            </div>
        </td>
        <td></td>
      </tr>
      <tr>
          <tr>
            <td>
            <app-date-picker [headerName]="'Start Date'" [(date)]="startDateInput"></app-date-picker>
            <br />
            <app-date-picker [headerName]="'End Date'" [(date)]="endDateInput"></app-date-picker>
          </td>
        </tr>
        <tr>
            <img style="margin-left:8px;" class="nonEditIconStyle" [src]="closeIconSrc" 
            (mouseover)="closeIconSrc = '../../../assets/close_door_yellow.svg'"
            (mouseout)="closeIconSrc = '../../../assets/close_door.svg'"
            (click)="closePrevRentalDialog()"
            matTooltipClass="tooltip"
            [matTooltip]="'Close'"
            />
            <img *ngIf="addMode == false" style="margin-left:8px;" class="nonEditIconStyle" [src]="deleteIconSrc" 
            (mouseover)="deleteIconSrc = '../../../assets/remove_home_yellow.svg'"
            (mouseout)="deleteIconSrc = '../../../assets/remove_home.svg'"
            (click)="deleteBtnClicked()"
            matTooltipClass="tooltip"
            [matTooltip]="'Delete Previous Rental'"
            />
        </tr>
        </div>
      </table>
      <table style="width:66%; height:50%;font-family:sans-serif; font-size: small; color:#476c79; margin:auto">
        <div class="custom-field" >
          <h1> 
            <span> 
                Landlord Info
            </span> 
        </h1> 
      <tr>
        <td width="50%">
          <h3 style="white-space: nowrap;">
            <img [ngStyle]="{'visibility': editFName == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="fNameIcon"
            (mouseover)="fNameIcon = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="fNameIcon = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('fname')"/>
            <label style="margin-left:8px;">First Name&nbsp;&nbsp;</label><br/>&nbsp;&nbsp;
            <span *ngIf="addMode == false && editFName == false">{{prevRental.PrevLandlordFName}}</span>
            <mat-form-field *ngIf="addMode == true || editFName == true" style="font-size:small">
              <input matInput size="25" (blur)="updateInput('fname')" style="white-space: nowrap;" maxlength="25" required placeholder="Blake" 
              [formControl]="fNameInput">
              <mat-icon *ngIf="fNameInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="fNameInput.invalid">{{getInputErrorMessage(fNameInput)}}</mat-error>
            </mat-form-field>
          </h3>
        </td>
        <td width="50%">
          <h3 style="white-space: nowrap;">
            <img [ngStyle]="{'visibility': editLName == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="lNameIcon"
            (mouseover)="lNameIcon = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="lNameIcon = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('lname')"/>
            <label style="margin-left: 8px;">Last Name&nbsp;&nbsp;</label><br/>&nbsp;&nbsp;
            <span *ngIf="addMode == false && editLName == false">{{prevRental.PrevLandlordLName}}</span>
            <mat-form-field *ngIf="addMode == true || editLName == true" style="font-size:small">
              <input matInput size="25" (blur)="updateInput('lname')" style="white-space: nowrap;" maxlength="25" required placeholder="Patterson" 
              [formControl]="lNameInput">
              <mat-icon *ngIf="lNameInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="lNameInput.invalid">{{getInputErrorMessage(lNameInput)}}</mat-error>
            </mat-form-field>
          </h3>
        </td>
      </tr>
        <tr>
          <td width="45%">
            <h3 style="white-space: nowrap;">
              <img [ngStyle]="{'visibility': editEmail == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="emailIcon"
              (mouseover)="emailIcon = '../../../assets/edit_icon_yellow.svg'"
              (mouseout)="emailIcon = '../../../assets/edit_icon.svg'" 
              (click)="changeEditMode('email')"/>
              <label style="margin-left: 8px;">Email Address&nbsp;&nbsp;</label><br/>&nbsp;&nbsp;
              <span *ngIf="addMode == false && editEmail == false">{{prevRental.PrevLandlordEmailAddress}}</span>
              <mat-form-field *ngIf="addMode == true || editEmail == true" style="font-size:small">
                <input matInput size="25" (blur)="updateInput('email')" style="white-space: nowrap;" maxlength="25" required placeholder="bp@email.com" 
                [formControl]="emailInput">
                <mat-icon *ngIf="emailInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="emailInput.invalid">{{getInputErrorMessage(emailInput)}}</mat-error>
              </mat-form-field>
            </h3>
          </td>
          <td width="55%">
              <h3 style="white-space: nowrap;">
                <img [ngStyle]="{'visibility': editPhone == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="phoneIcon"
                (mouseover)="phoneIcon = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="phoneIcon = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('phone')"/>
                <label style="margin-left: 8px;">Phone Number&nbsp;&nbsp;</label><br/>&nbsp;&nbsp;
                <span *ngIf="addMode == false && editPhone == false">{{prevRental.PrevLandlordPhoneNumber}}</span>
                <mat-form-field *ngIf="addMode == true || editPhone == true" style="font-size:small">
                  <input matInput size="30" (blur)="updateInput('phone')" style="white-space: nowrap;" maxlength="30" required placeholder="111-222-3333" 
                  [formControl]="phoneInput">
                  <mat-icon *ngIf="phoneInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="phoneInput.invalid">{{getInputErrorMessage(phoneInput)}}</mat-error>
                </mat-form-field>
              </h3>
            </td>
        </tr>
          </div>
      </table>
      <table style="font-family:sans-serif; width:66%; height:50%; font-size: small; color:#476c79;  margin:auto">
        <div class="custom-field" >
          <h1> 
            <span> 
                Location Info
            </span> 
        </h1> 
          <tr>
            <td width="30%">
              <h3 style="white-space: nowrap;">
                <img [ngStyle]="{'visibility': editAddressStreet1 == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="add1Icon"
                (mouseover)="add1Icon = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="add1Icon = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('stadd1')"/>
                <label style="margin-left:8px;">Street Address (1)</label><br/>&nbsp;&nbsp;
              <span *ngIf="addMode == false && editAddressStreet1 == false">{{prevRental.AddressStreet1}}</span>
                <mat-form-field *ngIf="addMode == true || editAddressStreet1 == true" style="font-size:small">
                  <input matInput size="25" (blur)="updateInput('stadd1')"maxlength="25" required placeholder="113 Michigan Ave" 
                  [formControl]="addressStreet1Input">
                  <mat-icon *ngIf="addressStreet1Input.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="addressStreet1Input.invalid">{{getInputErrorMessage(addressStreet1Input)}}</mat-error>
                </mat-form-field>
              </h3>
            </td>
            <td colspan="2">
              <h3 style="white-space: nowrap;">
                <img [ngStyle]="{'visibility': editAddressStreet2 == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="add2Icon"
                (mouseover)="add2Icon = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="add2Icon = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('stadd2')"/>
                <label style="margin-left:8px;">Street Address (2)&nbsp;&nbsp;</label><br/>&nbsp;&nbsp;
                <span *ngIf="addMode == false && editAddressStreet2 == false">{{prevRental.AddressStreet2}}</span>
                <mat-form-field *ngIf="addMode == true || editAddressStreet2 == true" style="font-size:small">
                  <input matInput size="25" (blur)="updateInput('stadd2')" style="white-space: nowrap;" maxlength="25" placeholder="Suite #221" 
                  [formControl]="addressStreet2Input">
                  <mat-icon *ngIf="addressStreet2Input.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="addressStreet2Input.invalid">{{getInputErrorMessage(addressStreet2Input)}}</mat-error>
                </mat-form-field>
              </h3>
            </td>
          </tr>
          <tr>
            <td width="30%">
              <h3 style="white-space: nowrap;">
                <img [ngStyle]="{'visibility': editCity == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="addCityIcon"
                (mouseover)="addCityIcon = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="addCityIcon = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('city')"/>
                <label style="margin-left:8px;">City&nbsp;&nbsp;</label><br/>&nbsp;&nbsp;
                <span *ngIf="addMode == false && editCity == false">{{prevRental.AddressCity}}</span>
                <mat-form-field *ngIf="addMode == true || editCity == true" style="font-size:small">
                  <input matInput size="25" (blur)="updateInput('city')" style="white-space: nowrap;" maxlength="25" required placeholder="Austin" 
                  [formControl]="cityInput">
                  <mat-icon *ngIf="cityInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="cityInput.invalid">{{getInputErrorMessage(cityInput)}}</mat-error>
                </mat-form-field>
              </h3>
            </td>
            <td width="10% !important">
              <h3 style="white-space: nowrap;" >
                <img [ngStyle]="{'visibility': editState == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="addStateIcon"
                (mouseover)="addStateIcon = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="addStateIcon = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('state')"/>
                <label style="margin-left:8px;">State&nbsp;&nbsp;</label><br/>&nbsp;&nbsp;
                <span *ngIf="addMode == false && editState == false">{{prevRental.AddressState}}</span>
                <mat-form-field *ngIf="addMode == true || editState == true" style="font-size:small">
                  <input matInput size="2" (blur)="updateInput('state')" style="white-space: nowrap;" maxlength="10" required placeholder="TX" 
                  [formControl]="stateInput">
                  <mat-icon *ngIf="stateInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="stateInput.invalid">{{getInputErrorMessage(stateInput)}}</mat-error>
                </mat-form-field>
              </h3>
            </td>
            <td width="15% !important">
              <h3 style="white-space: nowrap;">
                <img [ngStyle]="{'visibility': editZipcode == false && addMode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="prevRentalIcon"
                (mouseover)="prevRentalIcon = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="prevRentalIcon = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('zipcode')"/>
                <label style="margin-left:8px;">Zipcode</label><br/>&nbsp;&nbsp;
                <span *ngIf="addMode == false && editZipcode == false">{{prevRental.AddressZipCode}}</span>
                <mat-form-field *ngIf="addMode == true || editZipcode == true" style="font-size:small">
                  <input matInput size="25" (blur)="updateInput('zipcode')" style="white-space: nowrap;" maxlength="25" required placeholder="73301" 
                  [formControl]="zipcodeInput">
                  <mat-icon *ngIf="zipcodeInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="zipcodeInput.invalid">{{getInputErrorMessage(zipcodeInput)}}</mat-error>
                </mat-form-field>
              </h3>
            </td>
          </tr>
        </div>
      </table>
  </div>
    <span class="modal-footer">
      <button class="lowerViewRoomButtons" style="margin-right:8px;" class="flex-items" *ngIf="addMode == true" mat-button (click)="createBtnClickedUpdate()">Create</button>
      <button id="saveViewRoomBtn" style="margin-right:8px;" class="flex-items" *ngIf="fieldsModified == true && addMode == false" mat-button (click)="saveBtnClickedUpdate()">Save</button>
      <button (click)="closePrevRentalDialog()" class="flex-items" style="font-size:14px;" mat-button >Close</button>
    </span>
  </div>
</div>
</div>