.loginScreenLoginButton{
    vertical-align:bottom;
    top:80%;
    color:blue;
    position:absolute;
    height:14%;
    left:40%;
    background-color:#ddcd9d;
}
.loginScreenOuter{
    height:100%;
    width:100%;
}
h1{
    text-align:center;
    top:1%;
}
.mainPageFormField{
    width:290px;
    left:12%;
}
  .mainPageFormField mat-button-toggle{
    line-height: 5px !important;
    color:blue;
  }