  #table-container{
    max-height:500px;
    overflow-y:auto;
  }
  button.link {
    background: transparent;
    color: blue;
    border: none;
    outline: 0;
    text-decoration: underline;
}
button.link:hover {
    color: firebrick;
    cursor: pointer;
}
  
#mainHeader{
  background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(135,217,206,1) 28%, rgba(51,92,148,1) 97%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
  table {
    width: 100%;
  }
  .button-container {
    display: flex;
    justify-content: space-around;  
    margin-top: 10px;
}
    .flex-items {  
        margin: 10px;  
    }  
  .mat-row.hovered {
    background: #95dfb8;
    cursor: pointer;
  }

  .mat-row.highlighted {
    background: #f7cf1b/* #999;*/
  }
  th{
    color: #476c79;;
    width: 100px !important;
  }