<div>
  <h1 style="text-align: center; color:blue;">Lease Documents</h1>
    <div id="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Document Name Column -->
            <ng-container matColumnDef="DocumentName">
                <th mat-header-cell *matHeaderCellDef> Document Name</th>
                <td mat-cell *matCellDef="let element"> {{element.DocumentName}} </td>
              </ng-container>

            <!-- First Name Column -->
            <ng-container matColumnDef="FName">
              <th mat-header-cell *matHeaderCellDef> First Name</th>
              <td mat-cell *matCellDef="let element"> {{element.FName}} </td>
            </ng-container>
          
            <!-- Last Name Column -->
            <ng-container matColumnDef="LName">
              <th mat-header-cell *matHeaderCellDef>Last Name</th>
              <td mat-cell *matCellDef="let element"> {{element.LName}} </td>
            </ng-container>

            <!-- Signed Column -->
            <ng-container matColumnDef="Signed">
                <th mat-header-cell *matHeaderCellDef>Signed</th>
                <td mat-cell *matCellDef="let element"> {{element.Signed}} </td>
            </ng-container>    
            
            <!-- Move-in Date Column -->
            <ng-container matColumnDef="Move-in-Date">
                <th mat-header-cell *matHeaderCellDef>Move-in Date</th>
                <td mat-cell *matCellDef="let element"> {{element.MoveInDate}} </td>
            </ng-container>    
            
            <!-- Term Type Column -->
            <ng-container matColumnDef="Term Type">
                <th mat-header-cell *matHeaderCellDef>Term Type</th>
                <td mat-cell *matCellDef="let element"> {{element.TermType}} </td>
            </ng-container>    

            <!-- Home Column -->
            <ng-container matColumnDef="Home">
                <th mat-header-cell *matHeaderCellDef>Home</th>
                <td mat-cell *matCellDef="let element"> {{element.HomeName}} </td>
            </ng-container>   

            <!-- Room Column -->
            <ng-container matColumnDef="Room">
                <th mat-header-cell *matHeaderCellDef>Room</th>
                <td mat-cell *matCellDef="let element"> {{element.RoomName}} </td>
            </ng-container>   
            <!-- Delivered Date -->
            <ng-container matColumnDef="Delivered Date">
              <th mat-header-cell *matHeaderCellDef>Delivered Date</th>
              <td mat-cell *matCellDef="let element">
                <button (click)="openDocDeliveries(element)" class="link">{{element.LatestDocDelivery}}</button>
              </td>
            </ng-container>              
  
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row
             *matRowDef="let row; columns: displayedColumns;"
             (click)="selection.toggle(row)" 
             [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
             (mouseover)="row.hovered = true" (mouseout)="row.hovered = false"
             ></tr>
          </table>
    </div>
    <div class="button-container">
      <button (click)="sendEmail()" class="flex-items" style="background-color:blue; color:white" mat-button >Create Email</button> <!-- or resend-->
      <button (click)="openDocument()" class="flex-items" style="background-color:blue; color:white;" mat-button >Open Document</button>
      <button class="flex-items" style="background-color:blue; color:white;" mat-button >Modify Details</button>
      <button class="flex-items" style="background-color:blue; color:white;" mat-button >Delete</button>
      <button (click)="closeBtnClicked()" class="flex-items" style="background-color:blue; color:white;" mat-button >Close</button><!-- or Open Editor--> 
    </div>
</div>