<h1 mat-dialog-title style="color:blue">{{title}}</h1>
<div mat-dialog-content>
  {{contentSummary}}
  <ul *ngFor="let item of errorItems">
    <li style="color:red">
      {{item}}
    </li>
  </ul>
  <br />
  <br />
  <button mat-button *ngIf="title=='Delete - Are you sure?'" (click)="closeDialog(true)">Yes</button>
  <button mat-button *ngIf="title=='Saved'" (click)="closeDialog(true)">Yes</button>
  <button mat-button *ngIf="title=='Room Created'" (click)="closeDialog(false)">Ok</button>
  <button mat-button *ngIf="title=='Room Saved'" (click)="closeDialog(false)">Ok</button>
  <button mat-button *ngIf="title=='Employer Saved'" (click)="closeDialog(false)">Ok</button>
  <button mat-button *ngIf="title=='Prospect Saved'" (click)="closeDialog(false)">Ok</button>

  <button mat-button *ngIf="title=='Unsaved Changes'" (click)="closedWithSaved(false)">Continue</button>
  <button mat-button *ngIf="title=='Unsaved Changes'" (click)="closedWithSaved(true)">Save</button>
  <button mat-button *ngIf="title=='Delete - Are you sure?'" (click)="closeDialog(false)">No</button>


  <button mat-button *ngIf="title != 'Employer Saved' && title != 'Prospect Saved' && title != 'Room Created' && title != 'Room Saved' && title != 'Unsaved Changes' && title != 'Delete - Are you sure?' && title != 'Are you sure you would like to delete this previous rental?'&& title != 'Are you sure you would like to delete this previous Employer?'" 
  (click)="closeDialog(false)">Close</button>
</div>
