.button-container {
  display: flex;
  justify-content: space-around;  
  margin-top: 10px;
}
  .flex-items {  
      margin: 10px;  
      background-color:#476c79; 
      color:white;
  }  
  .flex-items:hover{
    background-color: #90A6AE;
  }