#close-button{
    margin-left: auto; 
    margin-right:auto; 
    margin-top:12px; 
    display: block; 
    background-color:blue; 
    color:white;
}
#table-container{
    max-height:300px;
    overflow-y:auto;
  }
  button.link {
    background: transparent;
    color: blue;
    border: none;
    outline: 0;
    text-decoration: underline;
}
button.link:hover {
    color: firebrick;
    cursor: pointer;
}
  

  table {
    width: 100%;
  }
  .button-container {
    display: flex;
    justify-content: space-around;  
    margin-top: 10px;
}
    .flex-items {  
        margin: 10px;  
    }  
  .mat-row.hovered {
    background: #95dfb8;
    cursor: pointer;
  }

  .mat-row.highlighted {
    background: #f7cf1b/* #999;*/
  }
  th{
    color: cadetblue;
    width: 100px !important;
  }