<div class ="modal fade in" style="display: block;" aria-hidden="false"> <!--z-index defaults to 1050-->
  <div class="modal-dialog modal-lg modal-dialog-centered" >
    <!--Content-->
    <div class="modal-content">
  <div class="modal-header text-center">
    <span id="mainHeader" class="modal-title w-100">Document Deliveries</span>
    <span class="pull-right" style="margin-right:40px;">
    </span>
    <button (click)="closeBtnClicked()" type="button" class="close pull-right" aria-label="Close" >X
    </button>
  </div>
  <div class="modal-body">
    <h1 id="mainHeader" style="text-align: center;">Document Deliveries</h1>
      <div id="table-container">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
              <!-- Document Name Column -->
              <ng-container matColumnDef="Delivery Date">
                  <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
                  <td mat-cell *matCellDef="let element"> {{element.DeliveryDate.toLocaleString('en-US', options)}} </td>
                </ng-container>
  
              <!-- First Name Column -->
              <ng-container matColumnDef="To Address">
                <th mat-header-cell *matHeaderCellDef>To Address</th>
                <td mat-cell *matCellDef="let element"> {{element.ToAddress}} </td>
              </ng-container>     
              
              <!-- Document Declined Column -->
              <ng-container matColumnDef="DocumentDeclined">
                <th mat-header-cell *matHeaderCellDef>Tenant Declined Lease</th>
                <td mat-cell *matCellDef="let element">
                  <span *ngIf="element.Declined == true" style="color:red;">{{element.Declined}} </span> 
                  <span *ngIf="element.Declined == false">{{element.Declined}} </span> 
                </td>
              </ng-container>   
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row
               *matRowDef="let row; columns: displayedColumns;"
               ></tr>
            </table>
      </div>
      <div class="button-container">
        <button id="close-button" (click)="closeBtnClicked()" mat-button >Close</button><!-- or Open Editor--> 
      </div>
  </div>
  </div>
  </div>
  </div>