       <div class="addProspectContainer">
           <div class="addProspectUiView">
            <h1>Add New Prospect</h1>
    
                <mat-form-field appearance="standard">
                    <mat-label>First Name</mat-label>
                    <input matInput placeholder="Stacy" required [formControl]="fName">
                    <mat-icon *ngIf="fName.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="fName.invalid">{{getInputErrorMessage(fName)}}</mat-error>
                </mat-form-field>
                <br />
                <mat-form-field appearance="standard">
                    <mat-label>Last Name</mat-label>
                    <input matInput placeholder="Jones" required [formControl]="lName">
                    <mat-icon *ngIf="lName.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="lName.invalid">{{getInputErrorMessage(lName)}}</mat-error>
                </mat-form-field>
                <br />
                <mat-form-field appearance="standard">
                    <mat-label>Mid Initial</mat-label>
                    <input matInput placeholder="T" maxlength="1" required [formControl]="mdInit">
                    <mat-icon *ngIf="mdInit.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="mdInit.invalid">{{getInputErrorMessage(mdInit)}}</mat-error>
                </mat-form-field>
                <br />
                <mat-form-field appearance="standard">
                    <mat-label>Email Address</mat-label>
                    <input matInput placeholder="user@email.com" [formControl]="email" required>
                    <mat-icon  *ngIf="email.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="email.invalid">{{getInputErrorMessage(email)}}</mat-error>
                </mat-form-field>
                <br />
                <mat-form-field appearance="standard">
                    <mat-label>Phone Number</mat-label>
                    <input matInput placeholder="555-233-2222" [formControl]="phoneNumber" required>
                    <mat-icon  *ngIf="phoneNumber.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="phoneNumber.invalid">{{getInputErrorMessage(phoneNumber)}}</mat-error>
                </mat-form-field>
                <br />                
                <mat-form-field appearance="standard">
                    <mat-label>SSN</mat-label>
                    <input matInput placeholder="123-45-6789" [formControl]="ssn" required>
                    <mat-icon  *ngIf="ssn.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="ssn.invalid">{{getInputErrorMessage(ssn)}}</mat-error>
                </mat-form-field>
                <br />
                <mat-form-field appearance="standard">
                    <mat-label>Move-in Date</mat-label>
                    <input matInput placeholder="8/10/2021" [formControl]="moveInDate" required>
                    <mat-icon  *ngIf="moveInDate.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="moveInDate.invalid">{{getInputErrorMessage(moveInDate)}}</mat-error>
                </mat-form-field>
                <br />
                <mat-form-field appearance="standard">
                    <mat-label>Move-out Date</mat-label>
                    <input matInput placeholder="7/1/2022" [formControl]="moveOutDate" required>
                    <mat-icon  *ngIf="moveOutDate.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                    <mat-error *ngIf="moveOutDate.invalid">{{getInputErrorMessage(moveOutDate)}}</mat-error>
                </mat-form-field>
                <br />
                <mat-label>Term Type</mat-label>
                <br />
                <mat-radio-group
                
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                [(ngModel)]="termType">
  
                <mat-radio-button *ngFor="let termType of termTypeStr" [value]="termType">
                  {{termType}}
                </mat-radio-button>
              </mat-radio-group>
              <br /><br />
              <mat-label style="color:blue;" *ngIf="selectedRoomName != 'No Room Selected'">Selected Room: {{selectedRoomName}}</mat-label>
              <mat-label style="color:red;" *ngIf="selectedRoomName == 'No Room Selected'">No Room Selected</mat-label>

              <button mat-stroked-button color="primary"
              style="margin-left:10px;"
              (click)="openLinkRoomModal()"
              >
              Link to Room
              </button>
              <br />
                <mat-label>Employers: {{this.employers.length}}</mat-label>
                <button mat-stroked-button color="primary"
                    style="margin-left:10px;"
                    (click)="addEmployer()"
                >
                    Add Employer
                </button>
                <br />           
                <mat-label>PreviousRentals: {{this.prevRentals.length}}</mat-label>
                <button mat-stroked-button color="primary"
                    style="margin-left:10px;"
                    (click)="addPrevRental()"
                >
                    Add Previous Rental
                </button>
                <br /> 

                <br /> 
            <button mat-stroked-button color="primary" (click)="addProspect()"
            >
                Submit
            </button>
            <br /> 

           </div>
       </div>