<ejs-splitbutton *ngIf="loadedFileName != null && currentProspect != null" (click)="sendMainBtnSelected()" (select)="sendBtnItemSelected($event)"  content="Send" [items]='sendSplitBtnItems'></ejs-splitbutton>
<ejs-splitbutton *ngIf="loadedFileName != null && savedNote != null" (click)="exportItemsMainBtnClicked()" (select)="exportItemsSelected($event)" content="Print" [items]='exportItems'></ejs-splitbutton>
<ejs-splitbutton (click)="leasesMainBtnSelected()" (select)="leasesBtnItemSelected($event)"  content="Leases" [items]='serverSplitBtnItems'></ejs-splitbutton>
<ejs-splitbutton (click)="templatesMainBtnClicked()" (select)="templatesBtnItemSelected($event)" content="Templates" [items]='rlaSplitBtnItems'></ejs-splitbutton>
<label 
style=
    "font-family: 'Roboto', 'Segoe UI', 'GeezaPro', 'DejaVu Serif', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-size: 14px;
    font-weight: 500;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.143em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 12px 4px;
    vertical-align: middle;
    float:right" 
    *ngIf="loadedFileName != null" >Filename: {{loadedFileName}}<b>{{astrisk}}</b>
</label>
<label style="
    font-family: 'Roboto', 'Segoe UI', 'GeezaPro', 'DejaVu Serif', 'sans-serif', '-apple-system', 'BlinkMacSystemFont';
    font-size: 14px;
    font-weight: 500;
    -ms-flex-pack: center;
    justify-content: center;
    line-height: 1.143em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    padding: 6px 12px 4px;
    vertical-align: middle;
    color:red;
    float:right"
*ngIf="savedNote != null">{{savedNote}}</label>
<ejs-documenteditorcontainer #document_editor [toolbarItems]="items" id="container" (documentChange)="documentChanged($event)" (loaded)="somethingHappend($event)" (open)="somethingHappend($event)" (contentChange)="contentChanged($event)" serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/" [isReadOnly]=false [enableEditor]=true [enableWordExport]=true [enableSfdtExport]=true> </ejs-documenteditorcontainer>