.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  h1, h3>label{
    color:blue
  }

  
  .example-radio-button {
    margin: 5px;
  }
  
  .browseImage{
  }
  
  img{
    height:120px;
    max-width: 100%;
  }
  
  .h3link{
    color:blue; cursor:pointer;
  }
  .h3link:hover{
    color:green;
  }
  
  
  .editLinks{
    color:green; cursor:pointer;
  }
  .midTopToolbar{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(135,217,206,1) 28%, rgba(51,92,148,1) 97%);
  }
  .fill-space {
    flex:
     1 1 auto;
  }
  .flex-items {  
    margin: 10px;  
  }  
  .editLinks:hover{
    color:lightblue;
  }
  .lowerViewRoomButtons{
    font-family:sans-serif !important; 
    font-size: 15px !important; 
    color:#476c79 !important;    
  }
  .lowerViewRoomButtons:hover{
    font-family:sans-serif !important; 
    font-size: 15px !important; 
    background-color:#476c79 !important;
    color:white !important;
  }
  #saveViewRoomBtn{
    color:white;
    background-color:Red;
  
  }
  #saveViewRoomBtn:hover{
    background-color:orange;
    color:white;
  }
  
  #deleteBtn:hover{
    color:white;
    background-color:Red;
  }

  .example-margin {
    margin: 10px;
  }

  .labelClass{
    font-family:sans-serif !important; 
    font-size: 15px !important; 
    color:#476c79 !important;
    margin-left:8px;
    text-align: center;
  }

  #mainHeader{
    background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(135,217,206,1) 28%, rgba(51,92,148,1) 97%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

  }
#closeBtn:hover{
  background-color:#476c79;
  border-radius: 50%; 
  padding:5px;
}
  .editIconStyle {
    width: 20px;
    height: auto;
    vertical-align: middle;
}
.editIconStyle:hover{
  cursor: pointer;
}
fieldset {
  border: 1px ridge rgb(221, 209, 209);
}