<div class ="modal fade in" style="display: block;" aria-hidden="false"> <!--z-index defaults to 1050-->
    <div class="modal-dialog modal-sm modal-dialog-centered" >
      <!--Content-->
      <div class="modal-content">
    <div class="modal-header">
      <span id="mainHeader">{{title}}</span>
      <span class="pull-right" style="margin-right:40px;">
      </span>
  
      <button (click)="closeNoSelection()" type="button" class="close pull-right" aria-label="Close" >X
      </button>
    </div>
    <div class="modal-body" style="max-height:450px; overflow-y: auto;">
    <div *ngIf="contentSummary == 'Chose State for RLA'">
        <mat-form-field appearance="fill">
            <mat-label>{{contentSummary}}</mat-label>
            <mat-select [(ngModel)]="selected" (selectionChange)="showProductDetails()">
            <mat-option *ngFor="let state of content; let i = index" [value]="state">
                {{state}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="contentSummary == 'Choose Template'">
        <mat-form-field appearance="fill">
            <mat-label>{{contentSummary}}</mat-label>
            <mat-select [(ngModel)]="selected" (selectionChange)="showProductDetails()">
            <mat-option *ngFor="let state of content; let i = index" [value]="state">
                {{state}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="contentSummary == 'Choose Merge Tag'">
        <mat-form-field appearance="fill">
            <mat-label>{{contentSummary}}</mat-label>
            <mat-select [(ngModel)]="selected" (selectionChange)="showProductDetails()">
            <mat-option *ngFor="let mergeTag of content; let i = index" [value]="mergeTag">
                {{mergeTag}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="title == 'Saved' || title == 'Deleted' || title == 'Unsaved Changes'">
        <mat-label style="text-align: center;">{{contentSummary}}</mat-label>
    </div>
    <div *ngIf="contentSummary == 'Enter Filename'">
            <mat-form-field appearance="standard">
                <mat-label>{{contentSummary}}</mat-label>
                <input matInput placeholder="FlRLA" [formControl]="fileName">
                <mat-icon *ngIf="fileName.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="fileName.invalid">{{getFNameErrorMessage()}}</mat-error>
            </mat-form-field>
    </div>
    <div>
        <br />
        <button id="saveViewRoomBtn" *ngIf="fieldsModified == true" mat-button (click)="linkRoomToProspect()">Link Room to Prospect</button>
        <button  *ngIf="contentSummary == 'Chose State for RLA'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Load</button>
        <button  *ngIf="title == 'Load Template'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Load</button>
        <button  *ngIf="title == 'Insert Merge Tag'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Insert</button>
        <button  *ngIf="title == 'Delete Template'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Delete</button>
        <button  *ngIf="contentSummary == 'Enter Filename'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Save</button>
        <button  *ngIf="title == 'Saved' || title == 'Deleted'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Ok</button>
        <button  *ngIf="title == 'Unsaved Changes'" class="lowerViewRoomButtons" (click)="openTemplate('yes')" mat-button>Yes</button>
        <button  *ngIf="title == 'Unsaved Changes'" class="lowerViewRoomButtons" (click)="openTemplate('no')" mat-button>No</button>
        <button  *ngIf="title == 'Unsaved Changes'" class="lowerViewRoomButtons" (click)="openTemplate('cancel')" mat-button>Cancel</button>
        <button *ngIf="title != 'Unsaved Changes'" class="lowerViewRoomButtons" (click)="closeNoSelection()" mat-button>Cancel</button>
    </div>
  </div>
  </div>
  </div>
  </div>