    <h1 style="white-space: nowrap;" id='mainHeader' mat-dialog-title>{{data.title}}</h1>
    <br />
    <div *ngIf="data.contentSummary == 'Chose State for RLA'">
        <mat-form-field appearance="fill">
            <mat-label>{{data.contentSummary}}</mat-label>
            <mat-select [(ngModel)]="selected" (selectionChange)="showProductDetails()">
            <mat-option *ngFor="let state of data.content; let i = index" [value]="state">
                {{state}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="data.contentSummary == 'Choose Template'">
        <mat-form-field appearance="fill">
            <mat-label>{{data.contentSummary}}</mat-label>
            <mat-select [(ngModel)]="selected" (selectionChange)="showProductDetails()">
            <mat-option *ngFor="let state of data.content; let i = index" [value]="state">
                {{state}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="data.contentSummary == 'Choose Merge Tag'">
        <mat-form-field appearance="fill">
            <mat-label>{{data.contentSummary}}</mat-label>
            <mat-select [(ngModel)]="selected" (selectionChange)="showProductDetails()">
            <mat-option *ngFor="let mergeTag of data.content; let i = index" [value]="mergeTag">
                {{mergeTag}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div *ngIf="data.title == 'Saved' || data.title == 'Deleted' || data.title == 'Unsaved Changes'">
        <mat-label style="text-align: center;">{{data.contentSummary}}</mat-label>
    </div>
    <div *ngIf="data.contentSummary == 'Enter Filename'">
            <mat-form-field appearance="standard">
                <mat-label>{{data.contentSummary}}</mat-label>
                <input matInput placeholder="FlRLA" [formControl]="fileName">
                <mat-icon *ngIf="fileName.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="fileName.invalid">{{getFNameErrorMessage()}}</mat-error>
            </mat-form-field>
    </div>
    <div>
        <br />
        <button id="saveViewRoomBtn" *ngIf="fieldsModified == true" mat-button (click)="linkRoomToProspect()">Link Room to Prospect</button>
        <button  *ngIf="data.contentSummary == 'Chose State for RLA'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Load</button>
        <button  *ngIf="data.title == 'Load Template'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Load</button>
        <button  *ngIf="data.title == 'Insert Merge Tag'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Insert</button>
        <button  *ngIf="data.title == 'Delete Template'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Delete</button>
        <button  *ngIf="data.contentSummary == 'Enter Filename'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Save</button>
        <button  *ngIf="data.title == 'Saved' || data.title == 'Deleted'" class="lowerViewRoomButtons" (click)="openTemplate()" mat-button>Ok</button>
        <button  *ngIf="data.title == 'Unsaved Changes'" class="lowerViewRoomButtons" (click)="openTemplate('yes')" mat-button>Yes</button>
        <button  *ngIf="data.title == 'Unsaved Changes'" class="lowerViewRoomButtons" (click)="openTemplate('no')" mat-button>No</button>
        <button  *ngIf="data.title == 'Unsaved Changes'" class="lowerViewRoomButtons" (click)="openTemplate('cancel')" mat-button>Cancel</button>
        <button *ngIf="data.title != 'Unsaved Changes'" class="lowerViewRoomButtons" (click)="closeNoSelection()" mat-button>Cancel</button>
    </div>
  