<div style="float:left; width:25%; height:100%;">
    <h1 mat-dialog-title>Remove Room</h1>
    <div style="float:left;">
        <mat-form-field appearance="fill">
            <mat-label>Select Room</mat-label>
            <mat-select [(ngModel)]="selectedRoom">
            <mat-option *ngFor="let room of home.Rooms; let i = index" [value]="room">
                {{room.RoomName}}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <span style="margin-left:5%;">
        <br />
        <button class="lowerViewRoomButtons" (click)="removeRoom()" mat-button>Remove</button>
        <button class="lowerViewRoomButtons" (click)="closeNoSelection()" mat-button>Close</button>
    </span>
</div>
  