<router-outlet>
</router-outlet>
<mat-toolbar role="toolbar" class="toolbar" style="height:4%">
  <img
    width="40"
    src="../assets/better_omega.svg"
  />
  <span id="welcomeText">{{showDashboard ? "" : "Welcome"}}</span>
  <span class="fill-space"></span>

  <span class=headerText id=createAccountText
  (click)='toggleCreateAcctScreen()'
> 
  <span id="createAcctMainBtn"  *ngIf="showDashboard == false"
  >        {{showDashboard ? "" : "Create Account"}}

</span>
</span>

  <span class=headerText id="loginText"
    (click)='toggleLoginScreen()'
  >
    {{showDashboard ? "Logout" : "Login"}}
  </span>
</mat-toolbar>
  <div class="home-page-container">

  <app-lease-document-approval *ngIf="canShowLeaseDocApprovalScrn == true"
    [confCode]="leaseDocApprvConfCode"
  >
    here is some stuff
  </app-lease-document-approval>

    <div class="loginScreenContainer" *ngIf="showLoginScreen == true">
      <login-screen 
      (notifyFromLogin)="onNotifyFromLogin($event)"
       >
      </login-screen>
    </div>
    <div class="createAcctScreenContainer" *ngIf="showCreateAcctScreen">
      <create-acct-screen 
      (notifyFromCreateAcct)="onNotifyFromCreateAcct($event)"
      [(email)]="email"
      >
      </create-acct-screen>
    </div>
    <div class="createAcctEmailConf" *ngIf="showCreateAcctEmailConfScreen">
      <app-create-acct-email-confscrn
      [(email)]="email"
      (notifyFromCreateAcctEmailConf)="onNotifyFromCreateAcctEmailConf($event)"
      >
      </app-create-acct-email-confscrn>
    </div>
    </div>
  <!-- Footer -->
