.home-page-container{
    background-color:green;
    position: absolute;
    left:0;
    right:0;
    top:5%;
    height:90%;
    background-image:url('../assets/ralph-ravi-kayden-2d4lAQAlbDA-unsplash.jpg');
    background-size:cover;
    background-repeat:no-repeat;
  }
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 5%;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

 #createAccountText{
    padding-left:82%
  }
  #loginText{
    padding-left:10px;
  }

  .headerText:hover{
    cursor:pointer;
  }
  .footer{
    height:5%
  }
  .loginScreenContainer{
    background-color: #f6edd5;
    position:absolute;
    border-color:green;
    border-width:5px;
    height:30%;
    top:20%;
    width:25%;
    left:37.5%;
    opacity: .8;
    border-radius:15px;
  }

  .createAcctScreenContainer{
    background-color: #f6edd5;
    position:absolute;
    border-color:green;
    border-width:5px;
    height:50%;
    top:20%;
    width:25%;
    left:37.5%;
    opacity: .8;
    border-radius:15px;
  }

  .createAcctEmailConf{
    background-color: #f6edd5;
    position:absolute;
    border-color:green;
    border-width:5px;
    height: 16%;
    top:20%;
    width:25%;
    left:37.5%;
    opacity: .8;
    border-radius:15px;
  }

  .dashboardContainer{
    width:100%;
    height:100%;
    background-color:orange; 
    border-color:green;
    border-width:5px;
    border-style:solid;
  }