<div class="addHomeContainer">
    <div class="addHomeUiView">
        <mat-form-field  appearance="standard">
        <mat-label>Home Name</mat-label>
        <input matInput placeholder="MyHome" required [formControl]="nickname">
        <mat-icon *ngIf="nickname.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="nickname.invalid">{{getInputErrorMessage(nickname)}}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard">
        <mat-label>Summary</mat-label>
        <input matInput required placeholder="This home is located in a beautiful, safe community, next to all the shopping malls" 
        [formControl]="summary">
        <mat-icon *ngIf="summary.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="summary.invalid">{{getInputErrorMessage(summary)}}</mat-error>
        </mat-form-field>
        <br />
        <mat-form-field appearance="standard">
            <mat-label>Street Address 1</mat-label>
            <input required matInput placeholder="This home is located in a beautiful, safe community, next to all the shopping malls" 
            [formControl]="addressStreet1">
            <mat-icon *ngIf="addressStreet1.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="addressStreet1.invalid">{{getInputErrorMessage(addressStreet1)}}</mat-error>
            </mat-form-field>
        <br />
        <mat-form-field appearance="standard">
            <mat-label>Street Address 2</mat-label>
            <input matInput placeholder="This home is located in a beautiful, safe community, next to all the shopping malls" 
            [formControl]="addressStreet2">
            <mat-icon *ngIf="addressStreet2.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="addressStreet2.invalid">{{getInputErrorMessage(addressStreet2)}}</mat-error>
            </mat-form-field>
        <br />    
        <mat-form-field appearance="standard">
            <mat-label>City</mat-label>
            <input required matInput placeholder="This home is located in a beautiful, safe community, next to all the shopping malls" 
            [formControl]="addressCity">
            <mat-icon *ngIf="addressCity.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="addressCity.invalid">{{getInputErrorMessage(addressCity)}}</mat-error>
            </mat-form-field>
        <br /> 
        <mat-form-field appearance="standard">
            <mat-label>State</mat-label>
            <input required matInput placeholder="This home is located in a beautiful, safe community, next to all the shopping malls" 
            [formControl]="addressState">
            <mat-icon *ngIf="addressState.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="addressState.invalid">{{getInputErrorMessage(addressState)}}</mat-error>
            </mat-form-field>
        <br /> 
        <mat-form-field appearance="standard">
            <mat-label>Zipcode</mat-label>
            <input required matInput placeholder="This home is located in a beautiful, safe community, next to all the shopping malls" 
            [formControl]="addressZipCode">
            <mat-icon *ngIf="addressZipCode.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="addressZipCode.invalid">{{getInputErrorMessage(addressZipCode)}}</mat-error>
            </mat-form-field>
            <br /> 
            <button mat-stroked-button color="primary" (click)="createHome()">
                Submit
            </button>
        <br /> 
    </div>
    <div class="browseImage">
        <img [(src)]="homeImagePath"/>
        <br />
        <div style="text-align:center">
            <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
      </div>
    </div>
</div>
