#viewRoomBtn:hover{
    background-color:green;
    color:white;
}
#viewRoomBtn{
    float:left;
    color:blue;
    margin-left:2%;
}
#viewProspectBtn:hover{
    background-color:green;
    color:white;
}
#viewProspectBtn{
    float:left;
    color:blue;
    margin-left:2%;
}
#addAdditionalRoomBtn:hover{
    background-color:green;
    color:white;
}
#addAdditionalRoomBtn{
    color:blue;
    float:left;
    margin-left:2%;
}
#removeRoomBtn:hover{
    background-color:red;
    color:white;
}
#removeRoomBtn{
    color:blue;
    float:left;
    margin-left:2%;
}

#addAdditionalProspectBtn{
    color:blue;
    float:left;
    margin-left:2%;
}
#addAdditionalProspectBtn:hover{
    background-color:green;
    color:white;
}
#moveProspectBtn{
    color:blue;
    float:left;
    margin-left:2%;
}
#moveProspectBtn:hover{
    background-color:green;
    color:white;
}
#moveExistingTenant{
    color:blue;
    float:left;
    margin-left:2%;
}
#moveExistingTenant:hover{
    background-color:green;
    color:white;
}
