<div style="width: 100%;    text-align: center;
height:100%;">
<h2 style="text-align: left;">Summary</h2>
<p *ngIf="home != null" style="text-align: left;text-indent: 5%;">
    {{home.Summary}}<br />
</p>
<h2 style="text-align: left;">Address</h2>
<p style="text-align: left;text-indent: 5%;">
    {{home?.AddressStreet1}}{{','}}{{home?.AddressStreet2.length > 0 ? ' ' : ''}}
                    {{home?.AddressStreet2}}{{home?.AddressStreet2.length > 0 ? ', ' : ''}}
                    {{home?.AddressCity}}{{', '}}{{home?.AddressState}}{{', '}}{{home?.AddressZipCode}}
</p>
<h2 style="text-align: left;">Rooms</h2>
<button *ngIf="home != null && hasRooms() == true" mat-raised-button id="viewRoomBtn" (click)="openViewRoomDialog()">View&nbsp;{{dispRoomCount()}}</button>
&nbsp;
<button mat-raised-button id="addAdditionalRoomBtn"  
matTooltipClass="tooltip"
 [matTooltip]="'Add new rental room for this house'"
(click)="addRoom()">Add New Room</button>
<br />
<br />
<h2 style="text-align: left;">Tenants</h2>
<button mat-raised-button id="viewProspectBtn" 
matTooltipClass="tooltip"
 [matTooltip]="'View Tenants Living Here'"
(click)="openViewProspectDialog()">View Tenants</button>
&nbsp;
<button mat-raised-button id="moveProspectBtn"  
matTooltipClass="tooltip"
 [matTooltip]="'Add Approved Prospect into this room'"
(click)="openAddProspectDialog()">Add (Approved) Prospect</button>
&nbsp;
<button mat-raised-button id="moveExistingTenant"
matTooltipClass="tooltip"
 [matTooltip]="'Move Existing Tenant from other room (or home) into this room'">Move Existing Tenant</button>
</div>
