<div class="homeItem">
    <table class="homesTable"style="border-width:5px; border-color:green; border-style:solid; width: 100%; height:50%;">
        <tr style="height:8%"> <!-- Home Nickname -->
            <td width="50%">
                <h2>{{myHome.nickname}}</h2>
            </td>
            <td width="50%"> <!-- Image -->
                <h3>{{myHome.addressStreet1}}{{','}}{{myHome.addressStreet2.length >0 ? ' ' : ''}}
                    {{myHome.addressStreet2}}{{myHome.addressStreet2.length >0 ? ', ' : ''}}
                    {{myHome.addressCity}}{{', '}}{{myHome.addressState}}{{', '}}{{myHome.addressZipCode}}</h3>
            </td>
        </tr>
        <tr style="height:92%">
            <td width="50%"> <!-- Address -->
                <img [src]="myHome.homeImagePath"/>
            </td>
            <td width="50%"> <!-- Map -->
                <agm-map>
                    <agm-marker [latitude]="10.3207886" [longitude]="123.90250049999997"></agm-marker>
                </agm-map>
            </td>
        </tr>
    </table>
</div>
