.container {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 90%;
  }
  .midTopToolbar{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(135,217,206,1) 28%, rgba(51,92,148,1) 97%);
  }
  .sidenav-content {
   /* display: flex; */
    /*height: 100%; */
    height:100%;
    align-items: center;
    justify-content: center;
  }
  .fill-space {
    flex:
     1 1 auto;
  }
  #sidebarToggler:hover{
    background-color:#069677;
  }
  #midTopToolbar{
    
  }
  #logoutBtn:hover{
    cursor:pointer;
    background: rgba(0,0,0,.5);
    }
  mat-expansion-panel{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(135,217,206,1) 28%, rgba(51,92,148,1) 97%);
  }
  h3{
    width:100%;
  }
  mat-expansion-panel-header:hover{
    background-color:white
  }


  mat-expansion-panel h3{
    color:white;
  }

  mat-panel-title{
  color:white;
  }

a{
  color:white !important;
}
  .sidenav {
    padding: 20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 3%, rgba(135,217,206,1) 28%, rgba(51,92,148,1) 97%);
  }