<mat-toolbar color="warn">
    <mat-toolbar-row>
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="primary">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><img src="./assets/devglan.png"></span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a routerLink='homes'>Homes</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <li style="list-style: none;" *ngFor="let currHome of homes; let i = index">
              <a mat-list-item routerLink='/homes/home/{{i + 1}}'>Home {{i + 1}}</a>
            </li>
              <a mat-list-item routerLink='/homes/addhome'>&lt;Add Home&gt;</a>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a routerLink='/tenants'>Tenants</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item routerLink='/homes/home'>Home #1</a>
              <a mat-list-item routerLink='/homes/addroom'>&lt;Add Room&gt;</a>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a routerLink='/billing'>Billing</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item routerLink='/homes/home'>Home #1</a>
              <a mat-list-item routerLink='/homes/addroom'>&lt;Add Room&gt;</a>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a routerLink='/backgroundchecks'>Background Checks</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item routerLink='/homes/home'>Home #1</a>
              <a mat-list-item routerLink='/homes/addroom'>&lt;Add Room&gt;</a>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a routerLink='/prospects'>Prospects</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item routerLink='/homes/home'>Home #1</a>
              <a mat-list-item routerLink='/homes/addroom'>&lt;Add Room&gt;</a>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a routerLink='/sales'>Sales</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item routerLink='/homes/home'>Home #1</a>
              <a mat-list-item routerLink='/homes/addroom'>&lt;Add Room&gt;</a>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a routerLink='/marketing'>Marketing</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item routerLink='/homes/home'>Home #1</a>
              <a mat-list-item routerLink='/homes/addroom'>&lt;Add Room&gt;</a>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
     <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>