<mat-toolbar >
    <mat-toolbar-row class="midTopToolbar">
      <button id="sidebarToggler" type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" color="accent">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <!-- This fills the remaining space of the current row -->
      <span class="fill-space"></span>
      <span (click)="logout()" id="logoutBtn" style="color:white;">
        Logout
      </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" #drawer mode="side" opened role="navigation">
      <mat-nav-list>
        <mat-accordion>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a [routerLink]="[{outlets:{view:['homes']}}]">Homes</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <li style="list-style: none;" *ngFor="let currHome of homes; let i = index">
              <h3>
                <a mat-list-item [routerLink]="[{outlets:{view:['homes', i + 1]}}]">Home {{i + 1}}</a>
              </h3>
            </li>
            <h3>
              <a mat-list-item [routerLink]="['/dashboard',{outlets:{view:['homes','add-home']}}]">&lt;Add Home&gt;</a>
            </h3>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a [routerLink]="[{outlets:{view:['tenants']}}]">Tenants</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a [routerLink]="[{outlets:{view:['billing']}}]">Billing</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a [routerLink]="[{outlets:{view:['backgroundchecks']}}]">Background Checks</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a [routerLink]="[{outlets:{view:['prospects']}}]">Prospects</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
              <a mat-list-item [routerLink]="[{outlets:{view:['prospects','add-prospect']}}]">&lt;Add Prospect&gt;</a>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a [routerLink]="[{outlets:{view:['leases']}}]">Leases</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <a mat-list-item [routerLink]="[{outlets:{view:['leases','pending-leases']}}]">Lease Documents</a>
            <a mat-list-item [routerLink]="[{outlets:{view:['leases','lease-templates']}}]">Lease Templates</a>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a [routerLink]="[{outlets:{view:['sales']}}]">Sales</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
          <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3 matSubHeader><a [routerLink]="[{outlets:{view:['marketing']}}]">Marketing</a></h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </mat-accordion>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
     <router-outlet name="view"></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>