<h1 mat-dialog-title style="color:blue"></h1>
<div mat-dialog-content>

<h1>Add New Previous Address/Landlord</h1>

  <mat-form-field>
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Stacy" required [formControl]="PrevLandlordFName">
    <mat-icon *ngIf="PrevLandlordFName.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="PrevLandlordFName.invalid">{{getInputErrorMessage(PrevLandlordFName)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Jones" required [formControl]="PrevLandlordLName">
    <mat-icon *ngIf="PrevLandlordLName.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="PrevLandlordLName.invalid">{{getInputErrorMessage(PrevLandlordLName)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
    <mat-label>Email Address</mat-label>
    <input matInput placeholder="michelle@email.com" required [formControl]="PrevLandlordEmailAddress">
    <mat-icon *ngIf="PrevLandlordEmailAddress.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="PrevLandlordEmailAddress.invalid">{{getInputErrorMessage(PrevLandlordEmailAddress)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
  <mat-label>Phone Number</mat-label>
  <input matInput placeholder="555-555-4444" required [formControl]="PrevLandlordPhoneNumber">
  <mat-icon *ngIf="PrevLandlordPhoneNumber.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-error *ngIf="PrevLandlordPhoneNumber.invalid">{{getInputErrorMessage(PrevLandlordPhoneNumber)}}</mat-error>
</mat-form-field>
<br /><mat-form-field appearance="standard">
    <mat-label>Street Address (1)</mat-label>
    <input matInput placeholder="111 Oak St" [formControl]="addressStreet1" required>
    <mat-icon  *ngIf="addressStreet1.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="addressStreet1.invalid">{{getInputErrorMessage(addressStreet1)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
  <mat-label>Street Address (2)</mat-label>
  <input matInput placeholder="Suite #323" [formControl]="addressStreet2">
  <mat-icon  *ngIf="addressStreet2.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-error *ngIf="addressStreet2.invalid">{{getInputErrorMessage(addressStreet2)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
  <mat-label>City</mat-label>
  <input matInput placeholder="Austin" [formControl]="addressCity" required>
  <mat-icon  *ngIf="addressCity.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-error *ngIf="addressCity.invalid">{{getInputErrorMessage(addressCity)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
  <mat-label>State</mat-label>
  <input matInput placeholder="TX" [formControl]="addressState" required>
  <mat-icon  *ngIf="addressState.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-error *ngIf="addressState.invalid">{{getInputErrorMessage(addressState)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
  <mat-label>Zipcode</mat-label>
  <input matInput placeholder="32444" [formControl]="addressZipCode" required>
  <mat-icon  *ngIf="addressZipCode.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-error *ngIf="addressZipCode.invalid">{{getInputErrorMessage(addressZipCode)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
  <mat-label>Start Date</mat-label>
  <input matInput placeholder="01/01/2008" [formControl]="startDate" required>
  <mat-icon  *ngIf="startDate.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-error *ngIf="startDate.invalid">{{getInputErrorMessage(startDate)}}</mat-error>
</mat-form-field>
<br />
<mat-form-field appearance="standard">
  <mat-label>End Date</mat-label>
  <input matInput placeholder="01/01/2020" [formControl]="endDate" required>
  <mat-icon  *ngIf="endDate.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
  <mat-error *ngIf="endDate.invalid">{{getInputErrorMessage(endDate)}}</mat-error>
</mat-form-field>
<br />
<br />
<label>Current Address</label>
<br />
<mat-radio-group
  aria-labelledby="example-radio-group-label"
  class="example-radio-group"
  [(ngModel)]="currentEmp">

  <mat-radio-button class="example-radio-button" *ngFor="let currentEmp of current" [value]="currentEmp">
    {{currentEmp}}
  </mat-radio-button>
</mat-radio-group>
<br />
<br />
  <br />
  <button mat-button (click)="closeAddRentalDialog()">Close</button>
  <button mat-button (click)="addPrevRental()">Add </button>

</div>
