<div class ="modal fade in" #modempmodal style="display: block;" aria-hidden="false"> <!--z-index defaults to 1050-->
  <div class="modal-dialog modal-lg modal-dialog-centered" >
    <!--Content-->
    <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" >
      <span aria-hidden="true" (click)="closeModifyEmpDialog()">×</span>
    </button>
          <span id="mainHeader"> Employer Information</span>    
  </div>
  <div class="modal-body" style="max-height:450px; overflow-y: auto;">
    <table style="width:88%; height:50%;font-family:sans-serif; font-size: small; color:#476c79; margin:auto">
      <div class="custom-field" >
        <h1> 
          <span> 
              Company Info
          </span> 
      </h1> 
    <tr>
      <td colspan="2">
        <div >
          <img *ngIf="canDispNextAndPrev() == true" class="nonEditIconStyle" [src]="backButtonImgSrc"
          (mouseover)="backButtonImgSrc = '../../../assets/left_arrow_prospect_yellow.svg'"
          (mouseout)="backButtonImgSrc = '../../../assets/left_arrow_prospect.svg'"
          (click)="goToNextOrPrevEmp(false)"
          matTooltipClass="tooltip"
          [matTooltip]="'Go to Previous Employer'"
          />
          <img style="transform:scaleX(-1); margin-left:8px" *ngIf="canDispNextAndPrev() == true" class="nonEditIconStyle" [src]="nextButtonImgSrc"
          (mouseover)="nextButtonImgSrc = '../../../assets/left_arrow_prospect_yellow.svg'"
          (mouseout)="nextButtonImgSrc = '../../../assets/left_arrow_prospect.svg'"
          (click)="goToNextOrPrevEmp(true)"
          matTooltipClass="tooltip"
          [matTooltip]="'Go to Next Employer'"/>
          </div>
      </td>
      <td></td>
    </tr>
    <tr>
      <td width="40%">
        <h3 style="margin-top: 5px; overflow:hidden; text-overflow: ellipsis">
          <label>Company Name&nbsp;&nbsp;        
            <img [ngStyle]="{'visibility': addMode == false && editCmpyName == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editCompanyNameIcon"
            (mouseover)="editCompanyNameIcon = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="editCompanyNameIcon = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('cmpyname')"/>
            </label><br />&nbsp;&nbsp;
            <img *ngIf="employer != null && employer.CompanyName != null" style="width:25px; height:auto; vertical-align: middle;" src="https://logo.clearbit.com/{{getCmpyNameSrc()}}.com?size=200" onerror="this.style.display='none'">
          <span style="margin-left:8px;" *ngIf="addMode == false && editCmpyName == false && employer != null">{{employer.CompanyName}}</span>
          <span style="font-size:12px;">
          <mat-form-field *ngIf="addMode == true || editCmpyName == true">
            <input matInput id="modifyEmployerModal_cmpyname" size="25" (blur)="updateInput('cmpyname')" style="white-space: nowrap;" maxlength="25" placeholder="Vans Towing" 
            [formControl]="cmpyNameInput"
            >
            <mat-icon *ngIf="cmpyNameInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
        </span>
        </h3>
      </td>
      <td width="60%">
        <h3><label>Job Title&nbsp;&nbsp;
          <img [ngStyle]="{'visibility': addMode == false && editJobTitle == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcJobTtl"
          (mouseover)="editImageSrcJobTtl = '../../../assets/edit_icon_yellow.svg'"
          (mouseout)="editImageSrcJobTtl = '../../../assets/edit_icon.svg'" 
          (click)="changeEditMode('jobtitle')"/>
          </label><br />&nbsp;&nbsp;
          <span *ngIf="addMode == false && editJobTitle == false && employer != null">{{employer.ProspectJobTitle}}</span>
          <span style="font-size:12px;">
          <mat-form-field *ngIf="addMode == true || editJobTitle == true">
            <input matInput size="25" (blur)="updateInput('jobtitle')" style="white-space: nowrap;" maxlength="25" required placeholder="Customer Service Rep" 
            [formControl]="jobTitleInput">
            <mat-icon *ngIf="jobTitleInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
          </mat-form-field>
          </span>
        </h3>
      </td>
    </tr>
    <tr>
      <td>
        <img style="margin-left:8px;" class="nonEditIconStyle" [src]="closeIconSrc" 
        (mouseover)="closeIconSrc = '../../../assets/close_door_yellow.svg'"
        (mouseout)="closeIconSrc = '../../../assets/close_door.svg'"
        (click)="closeModifyEmpDialog()"
        matTooltipClass="tooltip"
        [matTooltip]="'Close'"
        />
        <img style="margin-left:8px;" *ngIf="addMode == false" class="nonEditIconStyle" [src]="deleteEmpSrcIcon" 
        (mouseover)="deleteEmpSrcIcon = '../../../assets/delete_employer_icon_yellow.svg'"
        (mouseout)="deleteEmpSrcIcon = '../../../assets/delete_employer_icon.svg'"
        (click)="deleteBtnClicked()"
        matTooltipClass="tooltip"
        [matTooltip]="'Delete Employer'"
        />  
      </td>
    </tr>
  </div>
    </table>
    <table style="width:88%; height:50%;font-family:sans-serif; font-size: small; color:#476c79; margin:auto">
      <div class="custom-field" >
        <h1> 
          <span> 
            Employment Info
          </span> 
      </h1> 
        <tr>
          <td>
            <h3><label>Current Employer?&nbsp;&nbsp;</label>
            </h3>
            <mat-radio-group name="opList"  fxLayout="row" [(ngModel)]="currEmp" (change)="fieldsModified = true">
              <mat-radio-button *ngFor="let op of currentList" [value]="op.name" name="opList" >{{ op.name}}</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
        <tr>
          <td>
            <app-date-picker [headerName]="'Start Date'" [(date)]="startDateInput"></app-date-picker>
              <br />
              <app-date-picker *ngIf="currentMap.get(currEmp) == false" [headerName]="'End Date'" [(date)]="endDateInput"></app-date-picker>
            </td>
          </tr>
          <tr>
            <td>
              <h3><label>Salary Type&nbsp;&nbsp;</label>
              </h3>
              <mat-radio-group name="salList"  fxLayout="column" [(ngModel)]="salItem" (change)="fieldsModified = true">
                <mat-radio-button *ngFor="let sal of salList" [value]="sal.name" name="salList" >{{ sal.name}}</mat-radio-button>
              </mat-radio-group>
            </td>
          </tr>
          <tr>
            <td>
              <h3 *ngIf="salItem == 'Hourly'"><label>Hourly Rate&nbsp;&nbsp;</label>
                <img [ngStyle]="{'visibility': addMode == false && editHrRate == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editHrRateIcon"
                (mouseover)="editHrRateIcon = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="editHrRateIcon = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('hrRate')"/>
                <br />&nbsp;&nbsp;
                <span style="font-size:12px;" *ngIf="addMode == false && editHrRate == false && employer != null">{{getHrRateDisplay()}}</span>
                <span style="font-size:12px;">
                  <mat-form-field *ngIf="addMode == true || editHrRate == true">
                    <input type="text"
                    matInput
                    mvndrMatCurrencyFormat
                    [allowNegative]="false"
                    [currencyCode]="'USD'"
                    placeholder="18.00" 
                    (blur)="updateInput('hrRate')" 
                    [formControl]="hrRateInput"
                    >
                  <mat-icon *ngIf="hrRateInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                </span>
              </h3>
              <h3 *ngIf="salItem == 'Annual'"><label>Annual Salary&nbsp;&nbsp;</label>
                <img [ngStyle]="{'visibility': addMode == false && editSalAmt == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editSalAmtIcon"
                (mouseover)="editSalAmtIcon = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="editSalAmtIcon = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('salAmt')"/>
                <br />&nbsp;&nbsp;
                <span style="font-size:12px;" *ngIf="addMode == false && editSalAmt == false && employer != null">{{getAnnualSalDisplay()}}</span>
                <span style="font-size:12px;">
                  <mat-form-field *ngIf="addMode == true || editSalAmt == true">
                    <input type="text"
                    matInput
                    placeholder="73k" 
                    (blur)="updateInput('salAmt')" 
                    [formControl]="salaryAmtInput"
                    >k
                  <mat-icon *ngIf="salaryAmtInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                </mat-form-field>
                </span>
              </h3>
            </td>
          </tr>
        </div>
      </table>
      <table style="width:88%; height:50%;font-family:sans-serif; font-size: small; color:#476c79; margin:auto">
        <div class="custom-field" >
          <h1> 
            <span> 
              Manager Info
            </span> 
          </h1> 
        <tr>
          <td>
            <h3>
              <label>First Name</label><br />&nbsp;&nbsp;
              <img [ngStyle]="{'visibility': addMode == false && editFName == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcMFName"
              (mouseover)="editImageSrcMFName = '../../../assets/edit_icon_yellow.svg'"
              (mouseout)="editImageSrcMFName = '../../../assets/edit_icon.svg'" 
              (click)="changeEditMode('fname')"/>
              <span style="margin-left: 8px" *ngIf="addMode == false && editFName == false && employer != null">{{employer.MgrFName}}</span>
              <span style="font-size:12px; margin-left: 8px">
                <mat-form-field *ngIf="addMode == true || editFName == true">
                <input matInput size="25" (blur)="updateInput('fname')" style="white-space: nowrap;" maxlength="25" required placeholder="Sabrina" 
                [formControl]="fNameInput">
                <mat-icon *ngIf="fNameInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
              </mat-form-field>
              </span>
            </h3>
          </td>
          <td>
            <h3>
            <label style="margin-left: 8px">Last Name</label><br />&nbsp;&nbsp;
            <img [ngStyle]="{'visibility': addMode == false && editLName == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcMLName"
            (mouseover)="editImageSrcMLName = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="editImageSrcMLName = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('lname')"/>
              <span style="margin-left: 8px"  *ngIf="addMode == false && editLName == false && employer != null">{{employer.MgrLName}}</span>
              <span style="font-size:12px; margin-left: 8px">
                <mat-form-field *ngIf="addMode == true || editLName == true">
                <input matInput size="25" (blur)="updateInput('lname')" style="white-space: nowrap;" maxlength="25" required placeholder="James" 
                [formControl]="lNameInput">
                <mat-icon *ngIf="lNameInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="lNameInput.invalid">{{getInputErrorMessage(lNameInput)}}</mat-error>
              </mat-form-field>
              </span>
            </h3>
          </td>
        </tr>
        <tr>
          <td>
            <h3 style="overflow:hidden;text-overflow: ellipsis;">
              <label style="margin-left: 8px"></label>Email Address<br />&nbsp;&nbsp;
              <img [ngStyle]="{'visibility': addMode == false && editEmail == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcMEmail"
              (mouseover)="editImageSrcMEmail = '../../../assets/edit_icon_yellow.svg'"
              (mouseout)="editImageSrcMEmail = '../../../assets/edit_icon.svg'" 
              (click)="changeEditMode('email')"/>
              <span style="margin-left: 8px" *ngIf="addMode == false && editEmail == false && employer != null">{{employer.MgrEmailAddress}}</span>
              <span style="font-size:12px; margin-left: 8px">
                <mat-form-field *ngIf="addMode == true || editEmail == true">
                <input matInput size="25" (blur)="updateInput('email')" style="white-space: nowrap;" maxlength="25" required placeholder="sjames@aol.com" 
                [formControl]="emailInput">
                <mat-icon *ngIf="emailInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-error *ngIf="emailInput.invalid">{{getInputErrorMessage(emailInput)}}</mat-error>
              </mat-form-field>
              </span>
            </h3>
          </td>
          <td>
              <h3>
                <label style="margin-left: 8px">Phone Number</label><br />&nbsp;&nbsp;
                <img [ngStyle]="{'visibility': addMode == false && editPhone == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcMPhone"
                (mouseover)="editImageSrcMPhone = '../../../assets/edit_icon_yellow.svg'"
                (mouseout)="editImageSrcMPhone = '../../../assets/edit_icon.svg'" 
                (click)="changeEditMode('phone')"/>
                <span style="margin-left: 8px" *ngIf="addMode == false && editPhone == false && employer != null">{{employer.MgrPhoneNumber}}</span>
                <span style="font-size:12px;margin-left: 8px">
                  <mat-form-field *ngIf="addMode == true || editPhone == true">
                  <input matInput size="25" (blur)="updateInput('phone')" style="white-space: nowrap;" maxlength="25" required placeholder="111-222-3333" 
                  [formControl]="phoneInput">
                  <mat-icon *ngIf="phoneInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
                  <mat-error *ngIf="phoneInput.invalid">{{getInputErrorMessage(phoneInput)}}</mat-error>
                </mat-form-field>
                </span>
              </h3>
          </td>
        </tr>
      </div>
      </table>
    <table style="width: 88%; height:50%;font-family:sans-serif; font-size: small; color:#476c79; margin:auto">
      <div class="custom-field" >
        <h1> 
          <span> 
            Company Location Info        
          </span> 
        </h1> 
      <tr>
        <td>
          <h3>
            <label style="margin-left: 8px">Street Address (1)</label><br />&nbsp;&nbsp;
            <img [ngStyle]="{'visibility': addMode == false && editAddressStreet1 == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcCmpySt1"
            (mouseover)="editImageSrcCmpySt1 = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="editImageSrcCmpySt1 = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('stadd1')"/>
            <span style="margin-left: 8px;" *ngIf="addMode == false && editAddressStreet1 == false && employer != null">{{employer.AddressStreet1}}</span>
            <span style="font-size:12px;margin-left: 8px;">
              <mat-form-field *ngIf="addMode == true || editAddressStreet1 == true">
              <input matInput size="25" (blur)="updateInput('stadd1')" style="white-space: nowrap;" maxlength="25" required placeholder="111 Dunn Ave" 
              [formControl]="addressStreet1Input">
              <mat-icon *ngIf="addressStreet1Input.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="addressStreet1Input.invalid">{{getInputErrorMessage(addressStreet1Input)}}</mat-error>
            </mat-form-field>
            </span>
          </h3>
        </td>
        <td>
          <h3>
            <label style="margin-left: 8px">Street Address (2)</label><br />&nbsp;&nbsp;
            <img [ngStyle]="{'visibility': addMode == false && editAddressStreet2 == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcCmpySt2"
            (mouseover)="editImageSrcCmpySt2 = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="editImageSrcCmpySt2 = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('stadd2')"/>
            <span style="margin-left: 8px;" *ngIf="addMode == false && editAddressStreet2 == false && employer != null">{{employer.AddressStreet2}}</span>
            <span style="font-size:12px; margin-left: 8px;">
              <mat-form-field *ngIf="addMode == true || editAddressStreet2 == true">
              <input matInput size="25" (blur)="updateInput('stadd2')" style="white-space: nowrap;" maxlength="25" placeholder="Suite #150" 
              [formControl]="addressStreet2Input">
              <mat-icon *ngIf="addressStreet2Input.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="addressStreet2Input.invalid">{{getInputErrorMessage(addressStreet2Input)}}</mat-error>
            </mat-form-field>
            </span>
          </h3>
        </td>
      </tr>
      <tr>
        <td style="width:40%">
          <h3>
            <label style="margin-left: 8px">City</label><br />&nbsp;&nbsp;
            <img [ngStyle]="{'visibility': addMode == false && editCity == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcCmpyCty"
            (mouseover)="editImageSrcCmpyCty = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="editImageSrcCmpyCty = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('city')"/>
            <span style="margin-left:8px;" *ngIf="addMode == false && editCity == false && employer != null">{{employer.AddressCity}}</span>
            <span style="font-size:12px;margin-left:8px;">
              <mat-form-field *ngIf="addMode == true || editCity == true">
              <input matInput size="25" (blur)="updateInput('city')" style="white-space: nowrap;" maxlength="25" required placeholder="San Diego" 
              [formControl]="cityInput">
              <mat-icon *ngIf="cityInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="cityInput.invalid">{{getInputErrorMessage(cityInput)}}</mat-error>
            </mat-form-field>
            </span>
          </h3>
        </td>
        <td style="width:15%">
          <h3>
            <label style="margin-left: 8px">State</label><br />&nbsp;&nbsp;
            <img [ngStyle]="{'visibility': addMode == false && editState == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcCmpySt"
            (mouseover)="editImageSrcCmpySt = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="editImageSrcCmpySt = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('state')"/>
            <span style="margin-left: 8px" *ngIf="addMode == false && editState == false && employer != null">{{employer.AddressState}}</span>
            <span style="font-size:12px;margin-left: 8px">
              <mat-form-field *ngIf="addMode == true || editState == true">
              <input matInput maxlength="2" size="2" (blur)="updateInput('state')" style="white-space: nowrap;"  required placeholder="CA" 
              [formControl]="stateInput">
              <mat-icon *ngIf="stateInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="stateInput.invalid">{{getInputErrorMessage(stateInput)}}</mat-error>
            </mat-form-field>
            </span>
          </h3>
        </td>
        <td style="width:15%">
          <h3>
            <label style="margin-left:8px;">Zipcode</label><br />&nbsp;&nbsp;
            <img [ngStyle]="{'visibility': addMode == false && editZipcode == false ? 'visible' : 'hidden'}" class="editIconStyle" [src]="editImageSrcCmpyZip"
            (mouseover)="editImageSrcCmpyZip = '../../../assets/edit_icon_yellow.svg'"
            (mouseout)="editImageSrcCmpyZip = '../../../assets/edit_icon.svg'" 
            (click)="changeEditMode('zipcode')"/>
            <span  style="margin-left:8px;" *ngIf="addMode == false && editZipcode == false && employer != null">{{employer.AddressZipCode}}</span>
            <span style="font-size:12px;margin-left:8px;">
              <mat-form-field *ngIf="addMode == true || editZipcode == true">
              <input matInput size="25" (blur)="updateInput('zipcode')" style="white-space: nowrap;" maxlength="25" required placeholder="22434" 
              [formControl]="zipcodeInput">
              <mat-icon *ngIf="zipcodeInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
              <mat-error *ngIf="zipcodeInput.invalid">{{getInputErrorMessage(zipcodeInput)}}</mat-error>
            </mat-form-field>
            </span>
          </h3>
        </td>
      </tr>
    </div>
    </table>
  </div>
  <span class="modal-footer">
    <button class="lowerViewRoomButtons" style="margin-right:8px;" class="flex-items" *ngIf="addMode == true" mat-button (click)="createBtnClickedUpdate()">Create</button>
    <button id="modifyEmpModalSaveEmp" style="margin-right:8px;" class="flex-items" *ngIf="fieldsModified == true && addMode == false" mat-button (click)="saveBtnClickedUpdate()">Save</button>
    <button (click)="closeModifyEmpDialog()" class="flex-items" style="font-size:14px;" mat-button >Close</button>
</span>
  </div>
  </div>