.loginScreenLoginButton{
    vertical-align:bottom;
    top:70%;
    color:blue;
    position:absolute;
    height:10%;
    left:42%;
    background-color:#ddcd9d;
    text-align:center;
}
.loginCloseButton{
    vertical-align:bottom;
    top:70%;
    color:blue;
    position:absolute;
    height:10%;
    left:58%;
    background-color:#ddcd9d;
    text-align:center;
}

h1{
    text-align:center;
    top:1%;
}
.mainPageFormField{
    width:290px;
    left:12%;
}