  <div style="float:left">
    <span class="fill-space" ></span>
    <!--<img class='editIconStyle' src='../../assets/better_omega.svg' />-->

  </div>
  <h1 style="cursor:context-menu;" id='mainHeader'>
        Login
    </h1>
    <div>
      <mat-form-field class="mainPageFormField" appearance="standard">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="user@email.com" [formControl]="email" required>
        <mat-icon  *ngIf="email.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    <br />
      <mat-form-field class="mainPageFormField" appearance="standard">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="password" [formControl]="password">
        <mat-icon *ngIf="password.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
    </div>
    <div class="button-container">
      <button mat-raised-button class="flex-items"  color="primary"
      (click)="notifyParentClicked('attemptLogin')"
      >  
        <h3>Login</h3>
      </button>
      <button class="flex-items" mat-raised-button color="primary"
        (click)="notifyParentClicked('closeLoginDialog')">
          <h3>Cancel</h3>
      </button>
    </div>
