  <h1 style="cursor:context-menu; color:blue">
        Login
    </h1>
    <mat-form-field class="mainPageFormField" appearance="standard">
        <mat-label>Enter your email</mat-label>
        <input matInput placeholder="user@email.com" [formControl]="email" required>
        <mat-icon  *ngIf="email.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
      </mat-form-field>
    <br />
      <mat-form-field class="mainPageFormField" appearance="standard">
        <mat-label>Password</mat-label>
        <input matInput placeholder="password" [formControl]="password">
        <mat-icon *ngIf="password.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
      </mat-form-field>
<button class="loginScreenLoginButton" mat-stroked-button color="primary"
      (click)="notifyParentClicked()"
>
  <mat-label><h4>Login</h4>
  </mat-label>
</button>