.loginScreenLoginButton{
    color:blue;
    height:10%;
    background-color:#ddcd9d;
    text-align:center;
}
.loginCloseButton{
    color:blue;
    height:10%;
    background-color:#ddcd9d;
    text-align:center;
}

h1{
    text-align:center;
    top:1%;
}
.mainPageFormField{
    width:290px;
    left:12%;
}

.button-container {
    height:90%;
    display: flex;
    justify-content: space-around;  
    margin-top: 0px;
}
    .flex-items {  
        color:blue;
        height:10%;
        background-color:#ddcd9d;
        margin: 10px;  
    }  