<!-- Toolbar -->

<div class="lease-approval-confirm-container">
    <h1 style="text-align: center;color:blue; margin-top:12px;">Your Lease Agreement</h1>
    <div style="height:630px">
        <!--
        <ejs-documenteditorcontainer #document_editor id="container" [toolbarItems]="items" (created)="onCreated()" serviceUrl="https://ej2services.syncfusion.com/production/web-services/api/documenteditor/" [isReadOnly]=true [enableEditor]=false [enableWordExport]=true [enableSfdtExport]=true> </ejs-documenteditorcontainer>
        -->
        <div class="content-wrapper">
            <ejs-pdfviewer #myviewer id="pdfViewer" (created)="onCreated($event)" [serviceUrl]='service' [documentPath]='document' style="height:640px;display:block"></ejs-pdfviewer>
          </div>
    </div>
    <div class="button-container">
        <button  class="flex-items" style="background-color:blue; color:white;" mat-button >Accept</button>
        <button  class="flex-items" style="background-color:blue; color:white;" mat-button >Decline</button>
    </div>
</div>
