  <div class ="modal fade in" style="display: block;" aria-hidden="false">
  <div class="modal-dialog modal-lg modal-dialog-centered" >
    <!--Content-->
    <div class="modal-content">
  <div class="modal-header">
    <button type="button" class="close pull-right" aria-label="Close" >
      <span aria-hidden="true" (click)="closeViewRoomDialog()">×</span>
    </button>
          <span id="mainHeader"> Add Room</span>
  </div>
  <div class="modal-body" style="max-height:450px; overflow-y: auto;"><div style="float:left; width:35%; height:100%;margin-left:10%">
    <div class="browseImage">
      <img [(src)]="homeImagePath"/>
      <br />
      <span>
        <app-material-file-upload (complete)="onFileComplete($event)"></app-material-file-upload>
      </span>
      <span>Room Name</span>
      <mat-form-field appearance="outline">      
          <input matInput placeholder="The Guest Room" 
          [formControl]="roomNameInput">
          <mat-icon *ngIf="roomNameInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="roomNameInput.invalid">{{getInputErrorMessage(roomNameInput)}}</mat-error>
      </mat-form-field><br />
      <span>Monthly Rate</span>
      <mat-form-field appearance="outline">      
          <input required size="4" maxlength="4" matInput placeholder="$500" 
          [formControl]="monthlyRateInput">
          <mat-icon *ngIf="monthlyRateInput.invalid == false" matSuffix>sentiment_very_satisfied</mat-icon>
          <mat-error *ngIf="monthlyRateInput.invalid">{{getInputErrorMessage(monthlyRateInput)}}</mat-error>
      </mat-form-field>
  </div>
  </div>
  <div style="float:right; width:50%; height:100%;">
    <h2 mat-dialog-title>Attributes</h2>
    <div style="max-height: 300px; overflow-y: auto;">
      <h4><span>Dimensions:</span>&nbsp;&nbsp;
        <input matInput style="width:2em" size="4"placeholder="10" maxlength="3" [formControl]="dimension1">
        <span>ft</span>&nbsp;<span>By</span>
        <input matInput style="width:2em"  size="4"placeholder="10" maxlength="3" [formControl]="dimension2">
        ft
    </h4>
      <mat-checkbox class="example-margin" [(ngModel)]="isMaster"><span>Is Master</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin" [(ngModel)]="hasCloset"><span>Has Closet</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin" [(ngModel)]="hasCeilingFan"><span>Ceiling Fan</span></mat-checkbox>
      <br />
      <mat-checkbox  class="example-margin" [(ngModel)]="hasPrivateBath"><span>Private Bath</span></mat-checkbox>
      <mat-checkbox class="example-margin"><span>Ceiling Fan</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin"><span>Ceiling Fan</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin"><span>Ceiling Fan</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin"><span>Ceiling Fan</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin"><span>Ceiling Fan</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin"><span>Ceiling Fan</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin"><span>Ceiling Fan</span></mat-checkbox>
      <br />
      <mat-checkbox class="example-margin"><span>Ceiling Fan</span></mat-checkbox>
      <br />
    </div>
        </div> 
        </div>
        <div class="button-container">
          <button class="flex-items" mat-button (click)="closeViewRoomDialog()">Close</button>
          <button class="flex-items" mat-button (click)="createRm()">Create</button>
        </div>
        </div>
        </div>
        </div> 